<section class="posts_show_container">

        <div class="posts_show_post">
          <h1>Post: <%= @post.title %> by <%= @post.author.name %></h1>
          <p><%= @post.text %></p>
          <p>Comments: <%= @post.comments_counter %></p>
          <p>Likes: <%= @post.likes_counter %></p>
        </div>
        <ul class="posts_show_comments">
          <% @post.comments.all.each do |comment| %>
            <li>
              <p class="comment-identifier">
                <span class="posts_show_commentator"><%= comment.user.name %>:</span>
                <%= comment.text %>
              </p>
            </li>
          <% end %>
        </ul>
        <a href=<%= "/posts/#{@post.id}/comments/new" %>>Create comment</a>

        <%= form_with model: Like, url: "/users/#{@current_user.id}/posts/#{@post.id}/likes/create", method: :post, local: true, scope: :data do |f| %>
          <%= f.submit 'Add Like' %>
          <% flash.each do |type, msg| %>
            <div>
              <%= msg %>
            </div>
          <% end %>
        <% end %>

</section>