<section class="posts_show_container">

        <div class="posts_show_post">
          <p>Post #<%= 1 %> by <%= @post.author.name %></p>
          <p><%= @post.text %></p>
        </div>
        <ul class="posts_show_comments">
          <% @post.comments.all.each do |comment| %>
            <li>
              <p>
                <span class="posts_show_commentator"><%= comment.user.name %>:</span>
                <%= comment.text %>
              </p>
            </li>
          <% end %>
        </ul>
        <a href=<%= "/users/#{@post.author.id}/posts/#{@post.id}/comments/new" %>>Create comment</a>

</section>